@charset "utf-8";
/* CSS Document */

body{font-family:"맑은 고딕"}

/*Header_Area*/


/*Aarticle_Area*/
div.Article_Area{position: relative; top:140px; }
div.Article_Area article{height: 220px; width: 100%; background: url("../img/Competitiveness/bg_visual_story03.jpg")no-repeat top center; background-size: cover; }
div.Article_Area div{width:1168px; height:220px; margin:0 auto;}
div.Article_Area h2{width: 1168px; height: 50px; float: left; font-size: 50px; color: #fff; margin-top: 34px; font-weight: 500px;}
div.Article_Area p{ display: inline-block; float: left; font-size: 18px; margin-top: 31px; color: #fff; line-height: 26px; width:1168px; font-weight: bold;}
div.Article_Area li a{color: #fff;float: left; font-size:16px; display:inline-block; margin-left: 20px; margin-top: 23px; width:auto; font-weight: bold;}
div.Article_Area ul li:nth-child(1) a{margin-left: 0px;}

article div li:nth-child(2) a:before{ content: ""; display: inline-block; width: 6px; height: 6px; line-height: 15px;  border-radius: 6px; background-color: #F5BD43; float: left; margin-right: 20px; margin-top: 7px;}
article div li:nth-child(3) a:before{ content: ""; display: inline-block; width: 6px; height: 6px; line-height: 15px;  border-radius: 6px; background-color: #F5BD43; float: left; margin-right: 20px; margin-top: 7px;}





/*Section_Area*/
div.Section_Area{position: relative; top:140px; width: 1168px; margin:0 auto; margin-bottom: 30px;}


/* 농장에서 레스토랑까지 / 궁금한 모든 것을 알려드립니다. (navi_1) */
div.Section_Area div.navi_1_wrap{width: 1168px; margin: 0 auto;}
div.Section_Area nav.navi_1{width: 570px; height: 20px; margin:0 auto; margin-top: 40px;}
div.Section_Area nav.navi_1 li{float: left; font-size: 20px; margin-left: 84px; display:block; word-spacing: -3px; }
div.Section_Area nav.navi_1 li a{color:#808080;  font-weight: bold;}
div.Section_Area nav.navi_1 ul li:nth-child(1){margin-left: 0px; }
div.Section_Area nav.navi_1 ul li:nth-child(1) a{ color: #db0007; border-bottom:1px solid; padding-bottom: 10px; font-weight: 600;}

/*Section main_img*/
div.Section_Area p.main_img{margin: 70px 0 80px;}

/* 원재료 준비와 가공/ 재료 보관부터 배송까지/ 레스토랑에서의 노력 (navi_2) */
div.Section_Area nav.navi_2{width: 228px; height: 750px; position: absolute; }
div.Section_Area nav.navi_2 li{width: 228px; height: 30px; line-height: 29px; font-weight: bold; word-spacing: -2px; font-size: 16px; border-bottom:1px solid #d1d1d1; padding: 25px 0;}
div.Section_Area nav.navi_2 li a{color:#808080;}
div.Section_Area nav.navi_2 li:first-child a{color:#292929;}
div.Section_Area nav.navi_2 li:first-child{border-bottom:1px solid #292929; padding: 25px 0;}


/* 건강한 식재료가 만들어지는 원재료부터 알아 볼까요? */
div.Section_Area div.Section_1_wrap{position: relative; left:349px; width: 817px; height: 786px;}
div.Section_Area div.Section_1_wrap h2{font-size: 30px; word-spacing: -10px;}
div.Section_Area div.Section_1_wrap p{margin-top:38px; width:820px; font-size: 16px; line-height: 30px; font-weight: bold; color:#808080; word-spacing: -5px;}

/* background_img  */
div.Section_Area div.Section_1_wrap ul{width: 820px;}
div.Section_Area div.Section_1_wrap li{float: left; width: 140px; height: 140px; margin: 58px 0 75px 30px;}
div.Section_Area div.Section_1_wrap li:nth-child(1){margin-left: 0;}

div.Section_Area div.Section_1_wrap li a{display: block; width: 140px; height: 140px;}
div.Section_Area div.Section_1_wrap li:nth-child(1) a{background-image: url("../img/Competitiveness/bg_food.jpg"); background-position: 0 0; }
div.Section_Area div.Section_1_wrap li:nth-child(2) a{background-image: url("../img/Competitiveness/bg_food.jpg"); background-position: -140px -140px;}
div.Section_Area div.Section_1_wrap li:nth-child(3) a{background-image: url("../img/Competitiveness/bg_food.jpg"); background-position: -280px -140px; }
div.Section_Area div.Section_1_wrap li:nth-child(4) a{background-image: url("../img/Competitiveness/bg_food.jpg"); background-position: -420px -140px; }
div.Section_Area div.Section_1_wrap li:nth-child(5) a{background-image: url("../img/Competitiveness/bg_food.jpg"); background-position: -560px -140px; }

/* Section_2 */
div.Section_Area div.Section_2{margin-top:275px; width: 820px; height:400px;}
div.Section_Area div.Section_2 p:nth-child(1){position:absolute; width: 310px; height: 400px; padding:0 0; margin: 0 0;}
div.Section_Area div.Section_2_1{position: relative; left: 310px; width:510px; height: 400px; padding-left:30px;}
div.Section_Area div.Section_2_1 h2{font-size: 19px; line-height: 30px; font-weight: bold; word-spacing: -5px; color:#292929; margin-bottom: 43px;}
div.Section_Area div.Section_2_1 p:nth-child(2){font-size: 16px; height: 45px; line-height: 30px; color: #808080; margin-bottom:25px;}
div.Section_Area div.Section_2_1 p:nth-child(3){font-size: 16px; height: 115px;line-height: 30px; color: #808080; margin-bottom:25px;}
div.Section_Area div.Section_2_1 p:nth-child(4){color:#292929; font-size: 13px; height:28px; line-height: 24px; word-spacing: -2px;}

