@charset "utf-8";
/* CSS Document */
body{font-family:"맑은 고딕";}

/*Header_Area*/


/*Aarticle_Area*/
div.Article_Area{position: relative; top:140px;}
div.Article_Area article{height: 220px; width: 100%; background: url("../img/people/1/bg_visual_story04.jpg") no-repeat top center; background-size: cover;}
div.Article_Area div{width:1168px; height:220px; margin:0 auto;}
div.Article_Area h2{width: 1168px; height: 50px; float: left; font-size: 50px; color: #fff; margin-top: 34px; font-weight: 500px;}
div.Article_Area p{ display: inline-block; float: left; font-size: 18px; margin-top: 31px; color: #fff; line-height: 26px; width:1168px; font-weight: bold;}
div.Article_Area li a{color: #fff;float: left; font-size:16px; display:inline-block; margin-left: 20px; margin-top: 23px; width:auto; font-weight: bold;}
div.Article_Area ul li:nth-child(1) a{margin-left: 0px;}

article div li:nth-child(2) a:before{ content: ""; display: inline-block; width: 6px; height: 6px; line-height: 15px;  border-radius: 6px; background-color: #F5BD43; float: left; margin-right: 20px; margin-top: 7px;}
article div li:nth-child(3) a:before{ content: ""; display: inline-block; width: 6px; height: 6px; line-height: 15px;  border-radius: 6px; background-color: #F5BD43; float: left; margin-right: 20px; margin-top: 7px;}





/*Section_Area*/
/*크루이야기, 업무소개 , 인재채용*/
div.Section_Area{position: relative; top:140px; width: 100%; margin:0 auto; margin-bottom: 30px;}
div.Section_Area nav{width: 450px; height: 20px; margin:0 auto; margin-top: 40px;}
div.Section_Area nav li{float: left; font-size: 20px; margin-left: 84px; display:block;}
div.Section_Area nav ul li:nth-child(1){margin-left: 0px; }
div.Section_Area nav li a{color:#808080;  font-weight: bold;}
div.Section_Area nav ul li:nth-child(3) a{ color: #db0007; border-bottom:1px solid; padding-bottom: 10px; font-weight: 600;}

/*  콘텐츠영역 1 */
div.Section_Area div.Section1{width: 100%; height:236px; background-color: #f8f8f8; margin-top:66px;}
div.Section_Area div.Section1_Area {width: 1168px; margin: 0 auto;}
div.Section_Area div.Section1 p{float: left;}
div.Section_Area div.Section1 p:first-child{width: 162px; height: 236px; margin-left: 68px; background-image: url("../img/people/3/bg_ico_career_2020_04.png");}
div.Section_Area div.Section1 p:last-child{width:auto; height:auto;  font-size: 20px; font-weight:bold; line-height:36px; word-spacing: -2px; color:#292929; padding:80px 70px;}


/* 컨텐츠 영역2 */
div.Section_Area div.Section2{width: 1168px; height: 700px; margin:0 auto; margin-top:54px; }
div.Section_Area div.Section2 div{float: left; width: 559px; height:650px;}
div.Section_Area div.Section2 ul div:nth-child(2){margin-left:15px;} 

div.Section_Area div.Section2 ul div:first-child li p:first-child{width: 559px; height:450px; background: url("../img/people/3/img_career01.jpg") no-repeat center; margin-bottom: 42px;}
div.Section_Area div.Section2 ul div:first-child li p:nth-child(2){font-size: 16px; line-height: 28px; font-weight: bold; color:#808080; word-spacing:-4px; margin-bottom: 34px;}
div.Section_Area div.Section2 ul div:first-child li a{display:inline-block; width: 172px; height: 70px; line-height: 70px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 70px; background-color: #ffbc0d; color: #292929;}

div.Section_Area div.Section2 ul div:nth-child(2) li p:first-child{width: 579px; height: 450px; background: url("../img/people/3/img_career02.jpg") no-repeat center; margin-bottom: 42px;}
div.Section_Area div.Section2 ul div:nth-child(2) li p:nth-child(2){width: 579px; margin-left: 10px; font-size: 15px; line-height: 28px; font-weight: bold; color:#808080; word-spacing:-4px; margin-bottom: 34px;}
div.Section_Area div.Section2 ul div:nth-child(2) li a{display:inline-block; width: 307px; height: 70px; line-height: 70px; font-size:16px; font-weight: bold; text-align: center; border-radius: 70px; background-color: #ffbc0d; margin-left:10px; color: #292929;}