@charset "UTF-8";


p{color:#828282;}
b{color:#292929;}

section{width: 100%; height: 5000px; position: relative; top:140px;}
section div.section_Area{width: 1168px; margin: 0 auto;}

section div.section_title{padding: 90px 0 125px; border-bottom: 2px solid #000;}

section div.section_title h1{float: left; font-size: 55px; letter-spacing: -5px; color:#292929;}
section div.section_Area h2{font-size: 30px; color:#292929; letter-spacing:-2px;}

section div.section_title ul{float: right; padding-top: 40px;}
section div.section_title ul li{display: inline-block; font-size: 16px; font-weight: bold;}
section div.section_title ul li a:last-child{color:#292929;}
section div.section_title ul li:nth-child(2)::before{content:''; width: 6px; height: 6px; border-radius:100%; display: inline-block; vertical-align: middle; background-color: #f5bd43; margin: 0 14px 0 8px; }
section div.section_title ul li:nth-child(2){letter-spacing: -2px; }

section div.title_list ul{padding: 50px 0px 50px 0 ; letter-spacing: -2px; border-bottom: 1px solid #000;}
section div.title_list ul li{font-size: 20px; line-height: 45px; font-weight: 700;}



section div.list_details{padding: 90px 0 90px 0; border-bottom: 1px solid #000;}
section div.list_details h2{font-size: 30px; letter-spacing: -2px; font-weight: 600;}
section div.list_details p{font-size: 15.5px; letter-spacing: -1.1px; font-weight: 600; line-height: 30px; padding-top:15px;}
section div.list_details h3{font-size: 17.5px; letter-spacing: -1px; font-weight: 600; margin-top: 30px; }


section div.list_details table{width: 100%; text-align: center; border-top:2px solid #000; border-collapse: collapse; letter-spacing: -1px; border-bottom:1px solid #000;}
section div.list_details table th, section div.list_details table td{width: 300px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;  padding: 25px; font-size: 15px; font-weight: bold;}
section div.list_details table th:nth-child(1),section div.list_details table td:nth-child(1){border-left: none; }
section div.list_details table td:nth-child(3){line-height: 30px;}
section div.list_details table th{border-bottom:1px solid #000;}
section div.list_details table tr.lasttr td{border-bottom:1px solid #000; }
section div.pageC div.no7{font-size: 15.5px; letter-spacing: -1px; color: #828282; font-weight: 600; line-height: 30px;}


section div.list_details table td{color:#828282;}

section div.list_details p.redtitle{color:#da0000;}
section div.list_details div.address li{color:#828282; font-size: 15.5px; font-weight: bold; line-height: 30px;}
section div.list_details div.address ul.add{margin-top: 10px;}
section div.pageF p.end a{border-bottom:1px solid #da0000; padding-bottom: 5px; color:#da0000;}
