@charset "UTF-8";

html,body,h1,h2,h3,div,header,nav,article,section,p,i,dd,dt,ul,li,table,th,td,tbody{margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}
ul,li {list-style: none;}
body { background-color: #ffffff ;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */
header {
    width: 1200px; height: 150px;
    margin: 0 auto;
    position: relative;
}



/* HEADER LOGO */
.logo { 
    width: 150px;
    position: absolute;
    left: 0;
    top: 20px;
}

.logo img {
    width: 100%;
}



/* HEADER MENU */
.top_menu {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
}

.top_menu ul li {
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    letter-spacing: -0.5px;
}

.top_menu ul li::after {
    content: '|';
    position: absolute;
    top: -1px;
    margin-left: 10px;
    color: #999;
}

.top_menu ul li:last-child::after{
    content: ' '
}

.top_menu ul li a{
    font-size: 14px;
    font-family: 'Pretendard-Regular';
}



/* HEADER SEARCH */
.top_search {
    position: absolute;
    right: 0;
    text-align: right;
    top: 70px;
    box-sizing: border-box;
}

.top_search input {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 25px;
    font-size: 15px;
}

.top_search button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px;
    box-sizing: border-box;
    color: #9e0000;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}


/* MENU */
nav {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
}

.nav_list ul {
    display: flex;
    position: relative;

}

.nav_list ul li{
    width: 150px;
    height: 160px;
    margin-left: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.nav_list ul li img {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.nav_list ul li img:hover {
    opacity: 0.5;
    transform: scale(1.3);
    box-sizing: border-box;
}

.nav_list ul li p {
    position: absolute;
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(36, 36, 36, 0.5);
    color: #fff;
    top:105px;
    font-family: 'BMJUA';
}



/* SLIDE */
article {
    width: 1200px;
    height: 400px;
    margin: 5px auto;
    background-color: blueviolet;
    position: relative;
    overflow: hidden;
}

.event ul {
    position: absolute;
    width: 500%;
    height: 400px;
}

.event ul li {
    float: left;
    width: 20%;
}



/* BUTTON */
#buttonList li{
    position: relative;
    top: 370px;
    left: 50%;
    transform: translate(-50%, 0);
    background:url("../images/btnVisual.png") 0 -18px no-repeat;
    width: 10px; 
    height: 10px; 
    border-radius:30px; 
    float:left; 
    margin:0 10px; 
    cursor:pointer;
    overflow: hidden;
}
#buttonList li.on { 
    background-position:1px -3px;
}
#buttonList li a {
    display:block;
    text-indent: -99999px;
}
.leftbutton{
    position:absolute; 
    background: url("../images/arrow_left_main.png") no-repeat; 
    width: 30px;
    height: 60px;
    top: 50%; 
    left: 2%;
    transform: translate(-2%, -50%);
    text-indent: -99999px;
    border: none; 
    cursor: pointer;
    z-index: 999;
}
.rightbutton{
    position:absolute; 
    background: url("../images/arrow_right_main.png") no-repeat; 
    width: 30px;
    height: 60px;
    top: 50%; 
    right: 2%;
    transform: translate(-2%, -50%);
    text-indent: -99999px;
    border: none; 
    cursor: pointer;
}
#wrap button{
    width: 30px; 
    height: 100px; 
    z-index: 999; 
    text-indent: -9999px;  
    border: none;
}



/* SECTION */
section {
    width: 1200px;
    margin: 15px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}



/* TOP LEFT BOX */
.item_box {
    width: 25%;
    height: 550px;
}
.item_box ul li{
    width: 100%;
    margin: 0 0 3px 0;
    height: 178px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.item_box > ul > li > a > p{
    position: absolute;
    width: 100%;
    font-size: 100px;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    top: 60px;
    text-align: right;
    color: rgba(255, 255, 255, 0.802);
}

.item_box ul li a:hover::before{
    content: '바로가기';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 165px;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Pretendard-Regular';
    padding: 15px;
    box-sizing: border-box;
    border: 15px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.802);
}



/* TOP LEFT BOX */
.item_pick{
    width: 75%;
    height: 500px;
    padding-left:15px;
    box-sizing: border-box;
}
.item_review h2,
.item_best h2 {
    font-family: 'Pretendard-Regular';
    font-size: 35px;
    color: #242424;
    font-weight: bold;
    padding: 15px 0 5px 20px;
}



/* BEST SELLER */
.item_best {
    background-color: #fff;
    border-bottom: 1px dashed #dcdcdc;
    border-top: 2px solid #dcdcdc;
    width: 100%;
    height: 260px;
    box-sizing: border-box;
    overflow: hidden;
}

.item_best table {
    padding: 7px 5px;
}

.item_best_img {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.item_best_img img {
    width: 70%;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item_best_img img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.item_best_item {
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    text-align: center;
    width: 100%;
    height: 30px;
    vertical-align: top;
}



/* ITEM REVIEW */
.item_review{
    background-color: #fff;
    border-bottom: 2px solid #dcdcdc;
    width: 100%;
    height: 265px;
    box-sizing: border-box;
    overflow: hidden;
}

.item_review table {
    padding: 7px 5px;
}

.item_review_img {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.item_review_img img {
    width: 70%;
    height: 100px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item_review_img img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.item_review_item {
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    text-align: center;
    width: 100%;
    height: 30px;
    vertical-align: top;
}



/* TAB MENU */
.tab {
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
}
.new_arrival > table > tr > td,
.md_pick > table > tr > td{
    width: 20%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}
.new_arrival table,
.md_pick table {
    padding: 2px;
    width: 100%;
}
.arrival_tab_img,
.tab_img {
    width: 100%;
    height: 150px;
    text-align: center;
    overflow: hidden;
}
.tab_img img {
    width: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.tab_img img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.tab_item {
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    text-align: center;
    width: 100%;
    height: 30px;
    vertical-align: top;
}
.tab_tag {
    text-align: center;
}
.tab_tag span {
    font-size: 15px;
    font-weight: bold;
    color: #e13b3b;
}
.btn ul li a{
    display: block;
    width: 50%;
    height: 50px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    float: left;
    border-bottom: 5px solid #ccc;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    padding: 3px 0;
}
.btn ul li:last-child a{
    border-bottom: 5px solid #ccc;
    padding: 3px 0; 
}
.btn ul li a.on {
    border-bottom: 5px solid #d50000;
    padding: 3px 0;
}
.bwrap ul li a{
    width: 100%;
}
.new_arrival{
    display: none;
}
.bwrap {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 400px;
}



/* NOTICE */
.notice {
    width: 25%;
    height: 200px;
}

.notice h2 {
    font-family: 'Pretendard-Regular';
    background-color: rgb(80, 80, 80);
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.notice ul {
    width: 100%;
    height: 170px;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 80, 80);
}

.notice ul li a {
    display: block;
    text-align: left;
    width: 100%;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
}

.notice > ul > li > a > span {
    float: right;
    text-align: left;
    display: block;
    width: 80px;
}



/* QUICK LINK */
.quick_link {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 200px;
    overflow: hidden;
}
.quick_link h2 {
    background-color: rgb(80, 80, 80);
    color: #ffffff;
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Pretendard-Regular';
}
.quick_link ul {
    width: 100%;
    height: 170px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.quick_link ul li {
    width: 45%;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    border: 2px solid rgb(80, 80, 80);
}

.quick_link ul li a{
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    font-size: 20px;
}



/* INFO */
.info {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid rgb(80, 80, 80);
    height: 200px;
    overflow: hidden;
    font-family: 'Pretendard-Regular';
}

.info h2 {
    background-color: rgb(80, 80, 80);
    color: #ffffff;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}

.info_number {
    width: 100%;
    height: 95px;
}

.info_number p{
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}

.info_number p:nth-child(2) {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    color: #d50000;
    padding-top: 0;
}

.info_number p:last-child {
    font-size: 16px;
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    color: #d50000;
}

.delivery_time {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 14px;
    letter-spacing: 0.07em;
}

.delivery_time p:first-child {
    color: #0300b3;
}

.delivery_time p u {
    color: #d50000;
    font-weight: bold;
}

.open_time {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 14px;
    letter-spacing: 0.07em;
}

.open_time p:first-child {
    color: #0300b3;
}



/* footer */
footer {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    background-color: rgb(80, 80, 80);
}

address {
    width: 85%;
    margin: auto;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}
.service h2,
.office p,
.service p{
    margin-bottom: 8px;
    color: #ffffff;
}
.office p a,
.service p a {
    color: #ff7b34;
    font-weight: bold;
}

.office {
    padding-right: 30px;
    border-right: 1px solid #ccc;
}

.service {
    padding-left: 30px;
}

.kcp_blog {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-direction: column;
}
.kcp_blog img {
    width: 90px;
}
.blog img {
    width: 100px;
    margin-left: 5px;
}