@charset "UTF-8";

* { margin : 0; padding : 0; box-sizing: border-box;}
html { font-size: 10px; }
.wrap { width: 100%; height: 100vh; }
.loading { width: 100%; height: 100%; background-color: rgb(61, 61, 61); position: relative;}
.loading .img_loading { width: 100%; height: 100%; z-index: 1;}
.loading .img_loading img{ width: 100%; max-width: 1200px; z-index: 2; -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.login_page { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 99;}
.loading .login { width: 100%; max-width: 768px; height: 400px; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
.loading .login .login_img { width: 250px; height: 250px; background-color:antiquewhite; border-radius: 50%; overflow: hidden; position: relative; }
.loading .login .login_img img { width:100%; position: absolute; left: 50%; top: 10%; transform: translate(-50%, -10%);}
.loading .login .login_name { width: 300px; height: 50px; font-size: 3rem; font-weight: bold; text-align: center; color: #fff;}
.login_pass{ display: flex;}
.login_pass input{ position: relative;  width: 350px; height: 50px; background-color: rgba(255, 255, 255,0.7); border: 0; color: rgb(32, 32, 32); text-indent: 10px; font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 2rem;}
.login_pass .on{ position: absolute; right: 10px; bottom: 18px; color: rgb(2, 2, 2); transition: 1s;}
.login_pass .off{ position: absolute; right: 80px; bottom: 18px; color: rgb(2, 2, 2); transition: 1s; }
.login_pass .move { display: none; width: 70px; height: 50px; border : none; background-color: rgba(70, 70, 70, 0.7); font-family: 'Noto Sans KR', sans-serif; font-weight: 700; color: #fff; font-size: 2rem;}