@charset "utf-8";

/* atricle */
article{width:100%; height:220px; position:relative; top:140px;}
article div.bg{height:220px; background:url(../images/bg_banner/bg_visual_menu01.jpg) no-repeat top center; }
article div.bg1{width:1168px; height:200px; position:relative; color:#292929; margin: 0 auto; padding:10px 0;}

/*버거 & 문단*/
article h3{height:80px; line-height:80px; font-size:47px;}
article p{height:60px; line-height:30px; font-size:17px; font-weight:bold; margin-bottom:10px; margin-top:10px;}

/*홈 메뉴 버거*/
article ul li{height:15px; font-size:15px; line-height:15px; float:left; text-align:center; margin-top:10px; font-weight:bold;}
article ul li:nth-child(1){text-align:left; width:65px;}
article ul li:nth-child(2){padding-right:5px; width:75px;}
article ul li:nth-child(3){width:45px;}
article ul li span{display:block; background:url(../images/drive/orange.png) no-repeat right center; }

/* section */
section{width:100%; position:relative; top:140px;}
section div.section_in{width:1168px; height:1075px; margin:0 auto; }

/* section 메뉴*/
section div ul.top{width:233px; height:56px; text-align:center; margin:0 auto; padding-top:11px;}
section div ul.top li{font-size:18px; line-height:40px; width:75px; height:40px; margin-top:16px; color:#808080; font-weight:bold;}
section div ul.top li:nth-child(1){float:left;}
section div ul.top li:last-child{float:right;}
section div ul.top li a{color:#808080;}
section div ul.top li.on a{color:#DB0007; border-bottom:1px solid #DB0007; padding-bottom:5px; }


/* section 프로덕트*/
section div.section_in div.meun_list p.top1{width:100%; font-size:20px; height:40px; line-height:40px; position:relative; top:-5px;}
section div.section_in div.meun_list p.top1:before{content:""; display:block; background:url(../images/drive/orange.png) no-repeat left center; width:10px; height:10px; margin:15px 8px 0 0 ; float:left;}

/*section 메뉴리스트 햄버거*/
section div.section_in div.meun_list ul.list{width:1168px; height:774px; position:relative; top:-15px;}
section div.section_in div.meun_list ul.list li{width:366px; height:352px; float:left; text-align:center; background-color:#f8f8f8;  border-radius:10px; margin:0 35px 25px 0; box-sizing:border-box;}
section div.section_in div.meun_list ul.list li a{display:block; width:366px; height:352px;}
section div.section_in div.meun_list ul.list li:nth-child(3){margin-right:0;}
section div.section_in div.meun_list ul.list li:nth-child(6){margin-right:0;}
section div.section_in div.meun_list ul.list li:hover{border:1px solid #FFBC0D;}

/*햄버거 설명*/
section div.section_in div.meun_list ul.list div.thum{width:306px; height:210px; position:relative; top:20px; left:30px;}
section div.section_in div.meun_list ul.list div.name{width:306px; height:52px; text-align:center; margin:0 auto; position:relative; top:35px;}
section div.section_in div.meun_list ul.list div.name strong.ko{width:306px; height:19px; font-size:18px; line-height:19px; font-weight:bolder; }
section div.section_in div.meun_list ul.list div.name small.en{width:180px; height:15px; color:#808080; font-size:14px; position:relative; top:10px; font-weight:bold;}

/*햄버거 밑에 버튼*/
section div.section_in div#btnMore{position:relative; top:40px; left:539px;}

/*햄버거 메뉴리스트2 디스플레이 넌*/
section div.section_in2{display:none;}

/*햄버거 메뉴리스트2*/
section div.section_in2{width:1168px; height:1930px; margin:0 auto;}
section div.section_in2 div.meun_list2 ul.list2{width:1168px; height:774px; position:relative; top:30px;}
section div.section_in2 div.meun_list2 ul.list2 li{width:366px; height:352px; float:left; text-align:center; background:#f8f8f8; border-radius:10px; margin:0 35px 25px 0; box-sizing:border-box;}
section div.section_in2 div.meun_list2 ul.list2 li a{display:block; width:366px; height:352px;}
section div.section_in2 div.meun_list2 ul.list2 li:nth-child(3){margin-right:0;}
section div.section_in2 div.meun_list2 ul.list2 li:nth-child(6){margin-right:0;}
section div.section_in2 div.meun_list2 ul.list2 li:nth-child(9){margin-right:0;}
section div.section_in2 div.meun_list2 ul.list2 li:nth-child(12){margin-right:0;}
section div.section_in2 div.meun_list2 ul.list2 li:nth-child(15){margin-right:0;}
section div.section_in2 div.meun_list2 ul.list2 li:hover{border:1px solid #FFBC0D;}

/*메뉴리스트2 햄버거설명 */
section div.section_in2 div.meun_list2 ul.list2 div.thum{width:306px; height:210px; position:relative; top:20px; left:30px;}
section div.section_in2 div.meun_list2 ul.list2 div.name{width:306px; height:52px; text-align:center; margin:0 auto; position:relative; top:35px;}
section div.section_in2 div.meun_list2 ul.list2 div.name strong.ko1{width:306px; height:19px; font-size:18px; line-height:19px; font-weight:bolder;}
section div.section_in2 div.meun_list2 ul.list2 div.name small.en1{width:180px; height:15px; color:#808080; font-size:14px; position:relative; top:10px; font-weight:bold;}

/*픽스드*/
div.fix1{width:110px; height:181px; position:fixed; bottom:25px; right:225px;}
div.fix1 a{display:block; width:110px; height:113px; float:left;}
div.fix1 a:nth-child(2){width:43px; height:26px;}
div.fix1 a:nth-child(1) img{width:110px; height:113px; background-size:cover; background-repeat:no-repeat;}
div.fix1 a:nth-child(2) img{width:43px; height:26px; background-size:cover; background-repeat:no-repeat; margin-top:38px; margin-left:20px;}
